<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>INTANGIBLE NETWORK OFFICIAL</h1>
            <hr>
            <p>"Design is not just what it looks like and feels like. Design is how it works." Let us help you create a website that not only looks amazing but also works seamlessly to drive real results for your business. With our expert website creation services, you can expect a website that is both visually stunning and highly functional, giving you a competitive edge in the online marketplace and helping you achieve your business goals"!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
